<%= form_with(model: skill_detail) do |form| %>
  <% if skill_detail.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(skill_detail.errors.count, "error") %> prohibited this skill_detail from being saved:</h2>

      <ul>
        <% skill_detail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :skill_id, style: "display: block" %>
    <%= form.number_field :skill_id %>
  </div>

  <div>
    <%= form.label :ratio, style: "display: block" %>
    <%= form.number_field :ratio %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
