<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <!-- Begin styles and js -->
    <%= render "layouts/html_head" %>
    <!-- End styles and js -->
  </head>
  <body>
    <!-- Begin Arrow to Top -->
    <div class="scroll-up-btn">
      <i class="fas fa-angle-up"></i>
    </div>
    <!-- End Arrow to Top -->

    <!-- Begin NavBar Menus -->
    <%= render "layouts/navbar" %>
    <!-- End NavBar Menus -->

    <!-- Begin Section Home -->
    <%= render "layouts/home" %>
    <!-- End Section Home -->

    <!-- Begin Section About  -->
    <%= render "layouts/about" %>
    <!-- End Section About -->

    <!-- Begin Section Services  -->
    <%= render "layouts/services" %>
    <!-- End Section Services -->

    <!-- Begin Section Skills  -->
    <%= render "layouts/skills" %>
    <!-- End Section Skills -->

    <!-- Begin Section Courses  -->
    <%= render "layouts/courses" %>
    <!-- End Section Courses -->

    <!-- Begin Section Teams  -->
    <%= render "layouts/teams" %>
    <!-- End Section Teams -->

    <!-- Begin Section Contact  -->
    <%= render "layouts/contact" %>
    <!-- End Section Contact -->

    <!-- Begin JS carrousel, navbar, typescript -->
    <script type="text/javascript" src="/assets/javascripts/javascript_cv.js"></script>
    <!-- End JS carrousel, navbar, typescript -->

    <!-- Begin Section Map  -->
    <%= render "layouts/map" %>
    <!-- End Section Map -->

    <!-- Begin Section Footer  -->
    <%= render "layouts/footer" %>
    <!-- End Section Footer -->


    
    <!-- Begin CSS Typescript  -->
    <style type="text/css" data-typed-js-css="true" src="/assets/javascripts/typescript.css"></style>
    <!-- End CSS Typescript  -->
  </body>
</html>